body,
html {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#from-add,
#from-edit {
    padding-top: 15px;
    padding-right: 30px;
}